<div class="container dotd-container">
    <!--First row-->
    <div class="row mt-5 wow">
        {{#each this}}
            <!--First column-->
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">
                <!--Card-->
                <div class="card">
                    <div class="status-badge">
                        <span>
                            LIVE
                        </span>
                    </div>
                    <!--Card image-->
                    <img class="img-fluid" src="{{imageUrls.3.url}}" alt="Card image cap">
                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">{{{title}}}</h4>
                        <!--Text-->
                        <p class="card-text">{{{description}}}</p>
                        <a href="#" class="btn btn-primary">View Deal</a>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!--/.First column-->
        {{/each}}
    </div>
    <!--/.First row-->
</div>