<h3> {{fuel}} price in variour cities of {{state}}</h3>


Prices of IOCL petrol pumps

<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Type your city name..">
</div>
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Type your city name..">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th>#</th>
      <th class="col-md-5 col-xs-5">City</th>
      <th class="col-md-4 col-xs-4">Price</th>
      <th class="col-md-3 col-xs-3">Change from yesterday</th>
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>
    {{#each prices.iocl}}
    <tr>
        <th scope="row">1</th>
        <th>{{city}}</th>
        <th>{{price}}</th>
        <th>{{change}}</th>
    </tr>
    {{/each}}
  </tbody>
</table>



Prices of HP petrol pumps

<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Type your city name..">
</div>
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Type your city name..">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th>#</th>
      <th class="col-md-5 col-xs-5">City</th>
      <th class="col-md-4 col-xs-4">Price</th>
      <th class="col-md-3 col-xs-3">Change from yesterday</th>
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>
    {{#each prices.hp}}
    <tr>
        <th scope="row">1</th>
        <th>{{city}}</th>
        <th>{{price}}</th>
        <th>{{change}}</th>
    </tr>
    {{/each}}
  </tbody>

<script>
    (function() {
        $(".search").keyup(function () {
            var searchTerm = $(".search").val();
            var listItem = $('.results tbody').children('tr');
            var searchSplit = searchTerm.replace(/ /g, "'):containsi('")
            
        $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
                return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
            }
        });
            
        $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
            $(this).attr('visible','false');
        });

        $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
            $(this).attr('visible','true');
        });

        var jobCount = $('.results tbody tr[visible="true"]').length;
            $('.counter').text(jobCount + ' item');

        if(jobCount == '0') {$('.no-result').show();}
            else {$('.no-result').hide();}
        });
    })();
</script>
</table>