<nav class="navbar navbar-fixed-top navbar-color-on-scroll">
	<div class="container">
        <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
	    	<a href="/">
	        	<div class="logo-container">
	                <div class="logo">
	                    <img src="assets/img/logo.png" alt="Kadak Deals" rel="tooltip" title="<b>Kadak Deals</b> get latest deals, coupons, sales" data-placement="bottom" data-html="true">
	                </div>
	                <div class="brand">
	                    Kadak Deals
	                </div>
				</div>
	      	</a>
	    </div>

	    <div class="collapse navbar-collapse" id="navigation-index">
	    	<ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/todays-offers">
                        Todays Offers
                    </a>
                </li>
                <li>
                    <a href="/login">
                        All Offers
                    </a>
                </li>
                <li>
                    <a href="/flipkart/todays-deals">
                        Flipkard Deals
                    </a>
                </li>
                <li>
                    <a href="/amazone-deals">
                        Amazone Deals
                    </a>
                </li>
				<li>
					<a href="/register">
						Sign up
					</a>
				</li>
				<li>
					<a href="/login">
						Login
					</a>
				</li>
	    	</ul>
	    </div>
	</div>
</nav>
<!-- End Navbar -->