.dotd-container .img-fluid{
    max-width: 100%;
    height: auto;
}

.wrapper .dotd-container {
    margin-top: 100px;
}

.dotd-container .status-badge {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 145px;
    background: rgb(59, 218, 38);
    box-shadow: 6px 9px 22px #0000007a;
}

.dotd-container .status-badge > span{
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 10%;
    color: #fff;
    font-weight: bold;
}


.dotd-container .card{
    margin-bottom: 15px;
}
